@charset "UTF-8";
@import url(normalize.css);
@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("☺"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-BookOblique';
  src: url("../fonts/FuturaPTCond-Book.eot");
  src: local("☺"), url("../fonts/FuturaPTCond-Book.woff") format("woff"), url("../fonts/FuturaPTCond-Book.ttf") format("truetype"), url("../fonts/FuturaPTCond-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPTCond-Medium.eot");
  src: local("☺"), url("../fonts/FuturaPTCond-Medium.woff") format("woff"), url("../fonts/FuturaPTCond-Medium.ttf") format("truetype"), url("../fonts/FuturaPTCond-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-DemiBold';
  src: url("../fonts/FuturaPT-Demi.eot");
  src: local("☺"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype"), url("../fonts/FuturaPT-Demi.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("☺"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype"), url("../fonts/FuturaPT-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("☺"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-VariableFont_wght.eot");
  src: local("☺"), url("../fonts/Oswald-VariableFont_wght.woff") format("woff"), url("../fonts/Oswald-VariableFont_wght.ttf") format("truetype"), url("../fonts/Oswald-VariableFont_wght.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.header-content {
  margin-top: 131px;
  display: flex;
  position: relative; }
  .header-content__items:last-child {
    position: absolute;
    top: 25%;
    right: 28%; }
    .header-content__items:last-child::before {
      content: '';
      width: 3px;
      height: 63px;
      background-color: #bea09f;
      display: block;
      position: absolute;
      left: -18px;
      top: 3px; }
  .header-content__date {
    color: #bea09f;
    font-family: Oswald;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  .header-content__time {
    color: #433d3d;
    font-size: 20px;
    font-weight: 400; }

.header-block {
  background-image: url("../img/pic/background-main.png");
  height: 700px; }

.header-logo {
  padding-top: 20px; }

.header-title {
  max-width: 573px;
  color: #433d3d;
  font-family: Oswald;
  font-size: 55px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.96px; }

.header-subtitle {
  max-width: 453px;
  color: #433d3d;
  font-family: FuturaPT-Book;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin: 10px 0 59px; }

.header-button__link {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-color: #c0405c;
  padding: 15px 52px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: 0.3s ease; }
  .header-button__link:hover {
    background-color: #8a1f37; }
  .header-button__link:active {
    background-color: #761329; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

section.choice {
  margin-top: 73px; }

.choice-main {
  max-width: 1166px;
  max-height: 278px;
  box-shadow: -5px 1px 62px 3px rgba(209, 195, 190, 0.25);
  background-color: #ffffff;
  margin: 0 auto; }

.choice-head__title {
  max-width: 313px;
  margin: 0 auto; }

.choice-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .choice-content__img {
    margin: 0 40px; }
  .choice-content__items {
    margin-bottom: 60px; }
  .choice-content__pic {
    background-image: url(../img/pic/scales.png);
    width: 472px;
    height: 354px; }

.choice-desc {
  margin: 27px 0;
  color: #8b8181;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%; }
  .choice-desc_l {
    text-align: right; }

#button {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 190px;
  right: 284px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  width: 70px;
  height: 70px;
  background-color: #ebe6e1;
  cursor: pointer; }
  #button::after {
    content: "";
    line-height: 56px;
    background-image: url(../img/icon/arrow-up.png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: 26px 20px;
    width: 56px;
    height: 72px;
    display: block; }
  #button:hover {
    background-color: #d9cec4; }

#button.show {
  opacity: 1;
  visibility: visible; }

section.plan {
  margin-top: -193px; }

.plan-block {
  background-image: url(../img/pic/background-choice.png);
  height: 866px;
  position: relative;
  z-index: -1; }

.plan-body {
  max-width: 647px;
  height: 489px;
  box-shadow: -5px 1px 62px 3px rgba(209, 195, 190, 0.25);
  background-color: #ffffff;
  position: absolute;
  bottom: 47px;
  border-radius: 12px; }

.plan-main {
  padding: 58px 0px 20px 65px; }

.plan-head__title {
  max-width: 423px;
  color: #433d3d;
  font-family: Oswald;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase; }

.plan-content {
  margin-top: 13px;
  display: flex; }
  .plan-content__items {
    padding-left: 20px; }
  .plan-content__img {
    background-image: url(../img/pic/woman_01.png);
    background-repeat: no-repeat;
    width: 239px;
    height: 348px;
    margin: 30px 0 0 -18px; }

.plan-desc:not(:first-child) {
  margin-top: 66px; }

.plan-desc__word {
  margin: 21px 0; }

.plan-desc p {
  max-width: 344px;
  color: #8b8181;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  position: relative; }
  .plan-desc p::before {
    content: '';
    background-image: url(../img/icon/dots.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -20px;
    top: 7px; }

.specification-body {
  position: relative; }

.specification-main {
  padding: 39px 0 0 65px; }

.specification-desc {
  margin: 35px 0 70px 20px; }
  .specification-desc p {
    max-width: 404px;
    margin: 28px 0; }

.specification-button {
  padding: 15px 62px; }

.specification-item {
  position: absolute;
  right: 0;
  top: -114px; }

.specification-pic {
  max-width: 523px; }
  .specification-pic img {
    width: 100%; }

section.stairs {
  margin-top: 87px;
  position: relative; }

.stairs-block {
  background-image: url(../img/pic/background-author.png);
  width: 100%;
  height: 640px;
  position: absolute;
  bottom: 103px;
  z-index: -1; }
  .stairs-block__sky {
    background-image: url(../img/pic/sky.png);
    width: 100%;
    height: 370px;
    position: absolute;
    bottom: 59px; }
    .stairs-block__sky img {
      width: 100%; }

.stairs-body {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center; }

.stairs-pic_l {
  margin-left: -60px; }

.stairs-pic_r {
  margin-top: 118px;
  margin-right: 40px; }

.stairs-pic img {
  width: 100%; }

.stairs-main {
  background-image: url(../img/pic/board.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  width: 743px;
  height: 595px;
  position: absolute;
  left: 202px;
  top: 5px; }

.stairs-content {
  padding: 127px 0 0 6px; }

.stairs-desc {
  margin: 46px 43px; }
  .stairs-desc p {
    max-width: 400px;
    margin: 21px 0; }

section.other {
  margin-top: -36px; }

.other-body {
  display: flex; }

.other-pic {
  margin-left: -217px; }

.other-main {
  padding: 27px 0 0 29px; }

.other-head__subtitle {
  max-width: 387px;
  color: #433d3d;
  font-size: 20px;
  font-weight: 400; }

.other-head__title {
  margin: 10px 0 42px; }

.other-head__sign {
  max-width: 561px;
  color: #c34a65;
  font-family: "Futura PT";
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px; }

.other-desc {
  margin: 48px 36px 56px; }
  .other-desc p {
    max-width: 340px;
    margin: 21px 0; }
    .other-desc p::before {
      left: -40px; }

.other-button {
  padding: 15px 49px;
  margin-left: 6px; }

.program-block {
  background-image: url(../img/pic/background-program.png); }

.program-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.program-main {
  margin-right: 126px; }

.program-content {
  max-width: 520px;
  padding: 54px 150px 46px 70px;
  box-shadow: -5px 1px 62px 3px rgba(209, 195, 190, 0.25);
  background-color: #ffffff;
  border-radius: 13px; }

.program-head__sutitle {
  color: #433d3d;
  font-family: "Futura PT";
  font-size: 18px;
  font-weight: 500;
  margin: 17px 0 29px; }

.program-desc {
  padding-left: 24px; }

.recitation-main {
  margin-top: 57px; }

.recitation-head__title {
  text-align: center; }

.recitation-desc {
  display: flex;
  margin: 43px 0 0 0; }
  .recitation-desc__item:not(:first-child) {
    margin-left: 50px; }
  .recitation-desc__item-title {
    font-family: "Futura PT";
    display: block;
    width: 312px;
    height: 60px;
    box-shadow: -5px 1px 62px 3px rgba(209, 195, 190, 0.25);
    line-height: 60px;
    border-radius: 30px;
    border: 1px solid #c0ddea;
    text-align: left;
    padding-left: 75px;
    color: #433d3d;
    background: url(../img/icon/check-rec.png) 14px center no-repeat #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px; }
  .recitation-desc__item-subtitle {
    position: relative;
    max-width: 283px;
    height: 59px;
    color: #8b8181;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 29px 0 53px 94px;
    padding-left: 25px; }

section.reviews {
  text-align: center;
  margin-top: 53px; }

.reviews-body {
  margin-bottom: -13px; }

.reviews-content__title {
  color: #433d3d;
  font-family: "Futura PT";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: left; }

.reviews-content__subtitle {
  color: #8b8181;
  font-family: "FuturaPT-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 151%;
  text-align: left; }

.reviews-slider {
  max-width: 629px;
  padding: 50px 57px 30px 50px;
  box-shadow: -5px 1px 62px 3px rgba(209, 195, 190, 0.25);
  background-color: #ffffff;
  margin: 0px 16px;
  border-radius: 10px;
  min-height: 230px !important;
  height: 420px; }

.slick-arrow {
  position: absolute;
  z-index: 99;
  top: 226px; }

.slick-prev {
  left: 29.15%;
  background-image: url(../img/icon/arrow-slider-left.png);
  width: 54px;
  background-repeat: no-repeat;
  height: 54px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 0;
  outline: none; }

.slick-next {
  right: 29.15%;
  background-image: url(../img/icon/arrow-slider-right.png);
  width: 54px;
  background-repeat: no-repeat;
  height: 54px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 0;
  outline: none; }

.slick-list.draggable {
  padding-top: 48px !important; }

.slick-center {
  width: 740px; }

.slick-track {
  display: flex !important;
  align-items: center; }

.slick-initialized .slick-slide {
  outline: none; }

.author-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.author-head {
  background-image: url(../img/pic/bg-desc.png);
  width: 605px;
  height: 627px; }
  .author-head__subtitle {
    color: #433d3d;
    font-size: 20px;
    font-weight: 400; }
  .author-head__title {
    margin: 10px 0; }

.author-main {
  padding: 129px 0 0 116px; }

.author-content__items {
  margin: 20px; }
  .author-content__items p {
    margin: 17px 0;
    max-width: 365px; }

.author-content__img {
  z-index: -1;
  position: absolute;
  right: -12px;
  top: 13px; }

.author-content__pic {
  width: 641px;
  height: 547px; }

.buy-body {
  display: flex;
  justify-content: center; }

.buy-content {
  background-image: url(../img/pic/bg-author.png);
  width: 506px;
  height: 676px;
  text-align: center; }
  .buy-content-form {
    padding: 108px 0 0 10px; }
  .buy-content__title {
    color: #433d3d;
    font-family: "Futura PT";
    font-size: 25px;
    font-weight: 500;
    text-align: center; }
  .buy-content__subtitle {
    color: #8b8181;
    font-family: "FuturaPT-Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    max-width: 249px;
    text-align: center;
    margin: 9px auto 40px; }
  .buy-content__item {
    margin: 0 auto 36px;
    max-width: 280px; }
    .buy-content__item input {
      width: 215px;
      height: 48px;
      border-radius: 25px;
      border: 1px solid #d9cec4;
      background-color: #ffffff;
      color: #8b8181;
      font-family: "Futura PT";
      font-size: 18px;
      font-weight: 300;
      outline: none;
      display: block;
      line-height: 60px;
      text-align: left;
      padding-left: 62px;
      margin-left: 8px;
      margin: 10px 0;
      transition: 0.3s ease; }
      .buy-content__item input:hover {
        border: 1px solid #bea09f; }
      .buy-content__item input:focus {
        border: 1px solid #c0405c; }
    .buy-content__item-input {
      position: relative;
      cursor: pointer; }
      .buy-content__item-input label {
        width: 1px;
        height: 30px;
        background-color: #bea09f;
        display: block;
        position: absolute;
        left: 52px;
        top: 11px; }
    .buy-content__item-name {
      background: url(../img/icon/user.svg) 8% no-repeat;
      background-size: 14px;
      fill: #d9cec4; }
    .buy-content__item-phone {
      background: url(../img/icon/phone.svg) 8% no-repeat;
      background-size: 14px;
      fill: #d9cec4; }
    .buy-content__item-email {
      background: url(../img/icon/mail.svg) 8% no-repeat;
      background-size: 16px;
      fill: #d9cec4; }

.buy-button {
  padding: 15px 77px; }

.buy-agree {
  max-width: 248px;
  color: #8b8181;
  font-family: "FuturaPT-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin: 0 auto;
  margin-top: 30px; }
  .buy-agree span {
    text-decoration: underline; }

.buy-content__item-name:focus {
  background: url(../img/icon/user-focus.png) 8% no-repeat; }

.buy-content__item-phone:focus {
  background: url(../img/icon/phone-focus.png) 8% no-repeat; }

.buy-content__item-email:focus {
  background: url(../img/icon/mail-focus.png) 8% no-repeat; }

.act-block {
  background-image: url(../img/pic/background-down.png);
  height: 817px; }

.act-body {
  padding-top: 96px;
  text-align: center; }

.act-head__title {
  text-align: center; }

.act-content {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 54px; }
  .act-content__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .act-content__item img {
      margin-left: -12px; }
  .act-content__title {
    max-width: 157px;
    color: #433d3d;
    font-family: "Futura PT";
    font-size: 18px;
    font-weight: 500; }
  .act-content__subtitle {
    max-width: 197px;
    color: #8b8181;
    font-family: "FuturaPT-Book";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 15px;
    text-align: left; }

.act-button {
  padding: 15px 101px; }

.list-block {
  background-image: url(../img/pic/board.png);
  width: 743px;
  height: 595px;
  position: relative;
  margin: -196px auto 70px; }

.list-body {
  padding: 67px 0 0 227px; }

.list-content {
  margin: 27px 0 0 -72px; }
  .list-content p {
    margin: 21px 0;
    max-width: 477px; }

.list-button {
  position: absolute;
  width: initial;
  height: initial;
  padding: 15px 82px;
  bottom: 22px;
  left: 233px; }

section.footer {
  background-color: #323232; }

.footer-body {
  display: flex;
  justify-content: space-between;
  padding: 36px 0; }

.footer-content p {
  max-width: 218px;
  color: #aaaaaa;
  font-family: "FuturaPT-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 180%; }

.footer-main {
  max-width: 411px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  .footer-main a {
    color: #666666;
    font-family: "FuturaPT-Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
    margin-left: 25px;
    border-bottom: 1px solid #666666;
    height: 19px; }

a, p {
  font-family: FuturaPT-Book; }

.header-main {
  color: #433d3d;
  font-family: Oswald;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase; }

.desc-main {
  color: #8b8181;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  position: relative; }
  .desc-main span {
    font-weight: 500; }

.desc-dots::before {
  content: '';
  background-image: url(../img/icon/dots.png);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -20px;
  top: 7px; }

.desc-check::before {
  content: '';
  background-image: url(../img/icon/check.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -50px;
  top: -5px; }

.desc-lightning {
  position: relative;
  color: #433d3d;
  font-size: 18px;
  font-family: "Futura PT";
  font-weight: 500;
  margin: 20px 0; }
  .desc-lightning::before {
    content: '';
    background-image: url(../img/icon/lightning.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    position: absolute;
    left: -22px;
    top: 1px; }
  .desc-lightning span {
    color: #8b8181;
    font-family: "Futura PT";
    font-weight: 300; }

.title-question::before {
  content: '';
  background-image: url(../img/icon/icon-question.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  position: absolute;
  left: -50px;
  top: -5px; }

.title-mark::before {
  content: '';
  background-image: url(../img/icon/icon-mark.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 65px;
  position: absolute;
  left: -58px;
  top: -10px; }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1164px;
  padding: 0 15px;
  margin: 0 auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slider-item {
  background-color: #ccc;
  width: 200px;
  height: 400px;
  padding: 50px;
  margin: 0 20px; }
